DEBUG=1
SECRET_KEY=secret
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000/
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=ailu
SQL_USER=user
SQL_PASSWORD=123456
SQL_HOST=db
SQL_PORT=5432
DATABASE=ailu
PGADMIN_DEFAULT_EMAIL="paulorfholanda@gmail.com"
PGADMIN_DEFAULT_PASSWORD="123456"
#MIDDLEWARE=api.middleware.sql_middleware.SqlPrintingMiddleware
